@import '../../styles/mixins';

.cellWrapper {
	.cell {
		display: grid;
		place-content: center;

		width:  var(--grid-cell-size);
		height: var(--grid-cell-size);
		border-radius: 50%;
		border: none;
		outline: none;

		font-size: small;
		font-weight: normal;

		color: var(--primary-color);
		background-color: var(--shade-intermediate);
		transition: box-shadow 0.1s ease-out, outline 0.1s ease;

		box-shadow:
			calc(-1 * var(--cell-shadow-offset)) calc(-1 * var(--cell-shadow-offset)) var(--cell-shadow-spread) var(--shade-light),
			var(--cell-shadow-offset) var(--cell-shadow-offset) var(--cell-shadow-spread) var(--shade-dark)
		;

		@include xxs {
			font-size: medium;
		}

		@include xs {
			font-size: large;
		}

		&:hover {
			cursor: pointer;
		}

		&:focus-visible {
			outline: 3px solid var(--primary-color);
		}

		&:active, &.cellActive {
			box-shadow: none !important;
		}
	}
}
