@import '../../styles/mixins';

.wrapper {
	border-radius: 1rem;
	padding: 0.9rem;

	box-shadow:
		calc(-1 * var(--cell-shadow-offset)) calc(-1 * var(--cell-shadow-offset)) var(--cell-shadow-spread) var(--shade-light) inset,
		var(--cell-shadow-offset) var(--cell-shadow-offset) var(--cell-shadow-spread) var(--shade-dark) inset
	;

	@include xxs {
		padding: 1rem;
	}

	@include xs {
		padding: 1.2rem;
	}

	@include sm {
		padding: 1.4rem;
	}

	.text {
		width: 100%;
		max-width: 210px;
		overflow-x: auto;

		margin: 0;
		font-size: larger;
		text-align: right;
		color: var(--primary-color);
		// -webkit-overflow-scrolling: touch;

		@include xxs {
			font-size: x-large;
			max-width: 252px;
		}

		@include xs {
			font-size: xx-large;
			max-width: 333px;
		}

		@include sm {
			max-width: 333px;
		}

		&::-webkit-scrollbar {
			display: none;
		}

		&::selection {
			color: var(--on-primary-color);
			background-color: var(--primary-color);
		}
	}
}
