:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	/* neumorphism ui shades */
	--shade-light: #505A62;
	--shade-intermediate: #3A4046;
	--shade-dark: #23272A;

	/* app colors */
	--primary-color: #75A4AA;
	--background-color: var(--shade-intermediate);
	--on-primary-color: rgba(255, 255, 255, 0.87);
	--on-background-color: rgba(255, 255, 255, 0.87);

	color: var(--on-background-color);
	background-color: var(--background-color);
}

@media (prefers-color-scheme: light) {
	:root {
		--shade-light: #FFFFFF;
		--shade-intermediate: #E0E0E0;
		--shade-dark: #B6BABB;

		--primary-color: #75A4AA;
		--background-color: var(--shade-intermediate);
		--on-background-color: #213547;
	}
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
